# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.tfplan
crash.log
crash.*.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Terraform variables
*.auto.tfvars
terraform.tfvars

# Sensitive files
*.pem
*.key

# IDE
.vscode/
.idea/

# macOS
.DS_Store

# Logs
*.log

# Azure DevOps
.artifacts/

# Misc
*.zip